
.vs/SNPInstaller/v16/Server/sqlite3/db.lock
.vs/SNPInstaller/v16/Server/sqlite3/storage.ide
.vs/SNPInstaller/v16/Server/sqlite3/storage.ide
.vs/SNPInstaller/v16/Server/sqlite3/storage.ide
.vs/SNPInstaller/v16/Server/sqlite3/storage.ide-wal
.vs/SNPInstaller/v16/Server/sqlite3/storage.ide-shm
